body {
    margin: 0;
    padding: 0;
    background-color: rgb(44, 43, 43);
    color: white;
}

header {
    background-color: rgb(185, 185, 39);
    padding: 10px;
    position: fixed;
    width: 100%;
}

header nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin-right: 80px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

main {   /* */
    padding: 80px;
    text-align: justify;
    font-size: 20px;
}

footer {
    background-color: rgb(185, 185, 39);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 80px;
    color: rgb(0, 0, 0);
    border: 5px solid rgb(255, 255, 255);
}

h2 {
    font-size: 35px;
    text-align: center;
    color: white;
}

.imagemQualquer {
    width: 100%;
    height: auto;
    border: 2px solid rgb(185, 185, 39);
}

.video {
    width: 70%;
    height: auto;
    border: 2px solid rgb(185, 185, 39);
    
}

.banner {
    background-image: url("../imagens/banner.jpg");
    padding: 30px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 100%;
}